<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>user-sample</display-name>

    <welcome-file-list>
        <welcome-file>/views/index.html</welcome-file>
    </welcome-file-list>

    <!-- CDI - WELD -->
    <listener>
        <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
    </listener>

    <resource-env-ref>
        <resource-env-ref-name>BeanManager</resource-env-ref-name>
        <resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type>
    </resource-env-ref>


    <filter>
        <filter-name>BodyParserFilter</filter-name>
        <filter-class>io.kombat.core.servlet.MethodOverrideFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>BodyParserFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>FlashFilter</filter-name>
        <filter-class>io.kombat.core.servlet.FlashFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FlashFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <servlet>
        <description>io.kombat.core.servlet.DefaultServlet</description>
        <display-name>DefaultServlet</display-name>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>io.kombat.core.servlet.DefaultServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <multipart-config>
            <max-file-size>3145728</max-file-size>
            <max-request-size>5242880</max-request-size>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>DefaultServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>
</web-app>
